.gridTarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.categoria {
  margin: 3rem auto;
  padding: 0 1rem;

  max-width: 1300px; /* ajusta a tu gusto */
}

.titleSection {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #005BAC;
}

@media (min-width: 1024px) {
  .bloqueMagenta {
    font-size: 0.75rem;
    padding: 2px 8px;
    height: 20px;
  }

  .bloqueAzul {
    font-size: 0.65rem;
    padding: 2px 12px;
    height: 15px;
  }
}

@media (min-width: 1500px) {
  .gridTarjetas {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 600px) {
  .gridTarjetas {
  grid-template-columns: 1fr;
  gap: 1rem;
  }

  .tarjeta {
    padding: 1rem;
  }

  .tarjeta img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 360px) {
  .gridTarjetas {
    grid-template-columns: 1fr; /* una tarjeta por fila */
  }
}