.gridTarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* ← CAMBIO CLAVE */
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.categoria {
  margin: 3rem auto;
  padding: 0 1rem;
  max-width: 1300px;
}

.titleSection {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #005BAC;
}

@media (min-width: 1500px) {
  .gridTarjetas {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 600px) {
  .gridTarjetas {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .tarjeta {
    padding: 1rem;
  }

  .tarjeta img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 360px) {
  .gridTarjetas {
    grid-template-columns: 1fr;
  }
}