.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #f9f9f9;
}

.tarjeta img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  border-radius: 8px;
}

.tarjetaLink {
  text-decoration: none;
  color: inherit;
}

.tarjetaLink:hover img {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.tarjetaLink:hover h3 {
  color: #005BAC;
}

.cuotasPromo {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 16px;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  position: relative;
}

.bloqueMagenta {
  background-color: #e74883;
  color: white;
  padding: 4px 12px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 1.6;
  white-space: nowrap;
  height: 26px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-right: -12px;
}

.bloqueAzul {
  background-color: #209ce4;
  color: white;
  padding: 4px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: nowrap;
  height: 18px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

@media (min-width: 1224px) {
  .bloqueMagenta {
    font-size: 0.75rem;
    padding: 2px 8px;
    height: 20px;
  }

  .bloqueAzul {
    font-size: 0.65rem;
    padding: 2px 12px;
    height: 15px;
  }
}

@media (max-width: 900px) {

  .tarjeta img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 600px) {

  .tarjeta {
    padding: 1rem;
  }

  .tarjeta img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 400px) {
  .bloqueMagenta {
    font-size: 0.75rem;
    padding: 2px 8px;
    height: 20px;
  }

  .bloqueAzul {
    font-size: 0.65rem;
    padding: 2px 12px;
    height: 15px;
  }
}