:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 580;
  color:#005BAC;
;
  text-decoration: inherit;
}
a:hover {
  color: #0aa8bd;
}

body {
  margin: 0;
  padding-top: 90px; /* Para que no tape el header */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: Roboto, sans-serif;
}

button:hover {
  border-color: #1a46bd0a;
;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}